<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datangic.login">

    <application>
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:immersive="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DConstruct"></activity>
    </application>

</manifest>