<?xml version="1.0" encoding="utf-8"?><!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.datangic.easypermissions.components.TestActivity" />
        <activity android:name="com.datangic.easypermissions.components.TestAppCompatActivity" />
        <activity android:name="com.datangic.easypermissions.components.TestSupportFragmentActivity" />
    </application>

</manifest>
